@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap');

:root {
  --text-color: #1d1d1d;
  --background-color: #f5f5f5;
  --background-color-skills:#ebebeb;
  --link-background-color: #ebebeb;
  --social-background-color: #fff;
  --button-background-color:#fff;
  --light-hover-bg-color:#121212;
  --social-hover-bg-color:#ebebeb;
  --link-highlight-color:#fff;
  --social-border-color:#121212;
  --toggle-bg-color: #fefefe;
  --transition-color:#121212;
  --dark-light:#121212;
  --border-color:#f5f5f5;
  --about-bg-color:#fefefe;
  --background-image:linear-gradient(45deg, #ebebeb, #fefefe);
  --background-image: url(./assets/img/lightthemebg.svg);
  --section-opacity:opacity:1;
  --main-bg-img: url(./assets/img/cityday.jpg);
}

[data-theme="dark"] {
  transition: 200ms ease;
  --text-color:#fff;
  --background-color:#1c1c1e;
  --background-color-skills:#121212;
  --light-hover-bg-color:#fff;
  --link-background-color:#121212;
  --link-highlight-color:#1d1d1d;
  --button-background-color: #1d1d1d;
  --social-border-color:#fff;
  --toggle-bg-color: #fefefe;
  --transition-color:#fff;
  --dark-light:#fff;
  --border-color:#1c1c1e;
  --about-bg-color: #1c1c1e;
  --background-image:linear-gradient(45deg, #121212, #1c1c1e);
  --background-image: url(./assets/img/darkthemebg.svg);
  --section-opacity:opacity:0.5;
  --main-bg-img: url(./assets/img/citynight.jpg);
}

[data-theme="unfocused"] {
  --section-opacity:opacity:0.2;
}



*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top:75px ;
}

body.light{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color) ;
  font-family:'Poppins', sans-serif; 

   
}
body.dark {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family:'Poppins', sans-serif; ;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

h2 {
  color: var(--text-color);
  padding-top: 50px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600 !important;
  font-size: 40px !important;
}

h3 {
  margin-top: 70px !important;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 50px !important;
  font-weight: 600 !important;
  color: var(--text-color);
}

header {
  height: 117px;
  background-color: var(--background-color);
}

p.success {
  color:green;
}

p.danger {
  color:red;
}

/* NAVBAR CSS */
/* DARK MODE TOGGLE CSS */
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--text-color);
  font-weight:600;
  margin-bottom: 0 !important;
  margin-right: 15px;
}



.toggle-theme-wrapper {
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 46px;
}

.toggle-theme-wrapper {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width:60px;
}

.toggle-theme input {
  display:none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  

}

.slider:before {
  background-color: #fff;
  bottom:4px;
  content: "";
  height: 24px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 24px;
 
}

input:checked + .slider:before {
  transform: translate(26px);
}

input:checked + .slider {
  background-color:var(--link-background-color);
}

.slider.round {
  border-radius: 34px;
  color: var(--text-color);
  
}

.slider.round:before {
  border-radius: 50%;
  color: var(--text-color);
}

#darkMode {
  width: 140px;
}

/* NAVBAR STRUCTURE CSS */

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  background-color: var(--background-color);
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;

}

nav.navbar.scrolled {
  padding: 18px 0;
  background-color: var(--background-color);
}

.navbar-brand {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

.navbar-nav {
  margin-left: auto !important;
  margin-right: 0 !important;
  background-color: var(--link-background-color);
  padding-left: 6px !important;
  padding: 5px;
  border-radius: 30px;
  align-items: center;
}

#basic-navbar-nav {
  background-color: var(--background-color);
}

/* NAVBAR LINK BAR SECTIONS CSS */

.nav-link {
  padding: 4px !important;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: bold;
  color: var(--text-color) !important;
  background-color: var(--light-hover-bg-color);
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link:active{
  opacity: 1;
}

a.navbar-Link.nav-link {
  color:var(--text-color);
  width:100px;
  font-weight: 600;
}

a.active.navbar-Link.nav-link {
  background-color: var(--link-highlight-color);
  color: var(--text-color);
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s;
}

span.navbar-text {
  display: flex;
  align-items:center;
}

/* NAVBAR SOCIALS BUTTONS CSS */

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height:42px;
  color:var(--dark) !important;
  background: var(--button-background-color);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 2px solid var(--social-border-color);
}

.social-icon a::before{
  content: "";
  width: 42px;
  height:42px;
  position: absolute;
  fill:#fff !important;
  background-color: #f8f9fa !important;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
  border: 1px solid #121212;
}

.social-icon a img {
  width:40%;
  color: #121212;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter:brightness(1) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(100%);
}

/* NAVBAR "CONNECT WITH ME" BUTTON CSS */

.navbar-text button {
  font-weight:600;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  /* padding: 18px 34px; */
  font-size: 18px;
  position:relative;
  background-color: var(--link-background-color);
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--transition-color) !important;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: var(--background-color);
  z-index: 2;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
    box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0px;
  left: 0px;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.vvd {
  margin-left: 15px;
  width:130px;
  height: 50px;
}

.resume-text {
  font-size: 15px;
  width:100%;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 10px;
}

/* MAIN PAGE CSS */

.MainPage {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  color: var(--text-color);
  height:100vh;
  width:100%;
  padding-top: 100px;
}

.headerContainer {
  background-color:var(--link-background-color) ;
  border-radius: 20px;
  box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
 
}

.headerMain {
  display: block;
  height: 200px;
}

.headerText {
  margin-bottom:20px !important;
  margin-top:20px !important;
}

.cityNightcontainer {
  background-image: var(--main-bg-img);
  height:600px;
  width:500px;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.connectBtn {
  background-color: var(--dark-light);
  color: var(--link-highlight-color);
  height: 65px !important;
  width: 250px !important;
  font-size: 22px;
  font-weight: 600;
  border-radius: 20px;
  margin-top:25px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.connectBtn:hover {
  color: var(--link-highlight-color);
}

/* SKILLS SECTION CSS */

.Skills-Page {
  background-color: var(--background-color-skills);
  --background-image:linear-gradient(45deg, #ebebeb, #fefefe);
  border-color: var(--border-color);
  border-width: 10px;
  border-left: transparent;
  border-right: transparent;
  border-style: solid;
  background-size:cover;
  object-fit: contain;
  min-height: 400px;

}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 3rem;
  /* max-width: 500px; */
  margin-left: auto;
  margin-right: auto;
  /* opacity: 0.5; */
}

.skillswrapper {
  margin-left: auto;
  margin-right: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  height:100% !important;
  width: auto;
  max-width: 1400px;
}

.skill-img {
  width: 80px;
  height: 80px;
  margin: 0 2rem;
  box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
border-radius: 13px;
}

.skill-img:hover {
  animation: shake .8s ease-in-out .1s infinite alternate;
}
.skill-img-proj:hover {
  animation: shake 3s ease-in-out .1s infinite alternate;
}

@keyframes shake {
  0%{
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80%{
    transform: translate(.6em);
  }
  10%,
  30%,
  50%{
    transform: translate(-.3em);
  }
  70%,
  100%{
    transform: translate(0);
  }
}


.skill-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--text-color);
}

.githubimg {
  background-color: #f5f5f5;
  border-radius: 13px;
}

.hidden {
  opacity: 0;
  transition: 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.code-icon {
  height: 40px;
  margin-left: 20px;
}

/* PROJECTS SECTION STYLING  */

.projects-section {
  height: auto;
  width: 100%;
  background-image: var(--background-image);
  background-color: var(--background-color);
  color: var(--text-color);
  background-size: contain;
  padding-bottom: 70px;

}

.proj-hidden {
  display:none;
}

.container-first {
  margin-top: 100px !important;
}

.project-container {
  border-radius: 10px;
  padding-left: 0px !important;
  margin-top: 100px;
  height:500px;
  width:500px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  min-height: fit-content;
}



.carousel {
  width:500px;
}

.carousel-img {
  height:500px;
  width:500px;
  object-fit:scale-down;
  border-radius: 0px;
  background-color: var(--link-highlight-color);
  border: var(--link-background-color);
  border-width: 10px;
  border-style: solid;

  
}

.project-content-container {
  background-color: var(--link-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height:100%;
  padding-left:50px;
  padding-right:50px;
  justify-content: space-evenly;
}

.Project-desc-p {
  color: var(--text-color);
  font-size: 20px;
  text-align: left;
  margin-bottom: 40px;
  width:auto;
}

.pkr {
  font-size:15px ;
}

.proj-desc-btn-wrap {
  display: flex;
  flex-direction: column;

}

.proj-btn-link {
  background-color: #B21E35;
  color: #ebebeb;
  text-decoration: none;
  padding:10px;
  padding-left:15px;
  padding-right:15px;
  text-align: left;
  border-radius: 5px;
  margin-left: 10px;
  
}
.proj-btn-link:hover {
  background-color: #B21E35;
  text-decoration: none;
  color: #ebebeb;
}

.skill-img-proj {

  width: 45px;
  height: 45px;
  margin: 10px;
  box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
border-radius: 5px;
margin-top: 15px;
}

.skills-proj {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.sort-bar{
  background-color: var(--link-background-color);
  color: var(--text-color);
  height:50px;
  width:auto;
  margin-right: 0 !important;
  text-align: center;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
  border-radius: 5px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-evenly;
}

.sort-btn {
  text-decoration: none;
  color: var(--text-color);
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-size: 30px;
  border: none;
  width:78px;
  background-color: transparent;
}

.sort-btn:hover {
  cursor: pointer;
  color: var(--text-color);
}

.sort-btn:active,
.sort-btn:focus {

  color: #fff;
  border-radius: 20px;

}


/* ABOUT ME SECTION STYLING */


.about-section {
  background-color: var(--background-color-skills);
  --background-image:linear-gradient(45deg, #ebebeb, #fefefe);
  border-color: var(--border-color);
  border-width: 10px;
  border-left: transparent;
  border-right: transparent;
  border-style: solid;
  background-size:cover;
  object-fit: contain;
  height: 100vh;
  width:100%;
}

.about-content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--about-bg-color);
  box-shadow: 10px 10px 12px -3px rgba(22, 22, 22, 0.75);
  -webkit-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
  padding: 20px;
  margin-top: 100px;

}

.about-img {
  height: 100%;
  width: 400px;
  object-fit: contain;
  margin-left: 20px;
}

.about-me-text {
  font-size: 30px;
  line-height: 3;
  color: var(--text-color);
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
}

.big-bold-text {
  color:#B21E35;
  font-size: 45px;
  font-weight: bold;
}

.school-name {
  font-weight: bold;
  color:#B21E35;
}

.contact-container {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background:var(--link-background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
}

.form-title {
  color: var(--text-color) !important;
}

form,
.form-title {
  color: #1c1d25;
  font-weight: bold;
  margin-bottom: 20px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
}

.submit-button {
  padding: 15px;
  background: #B21E35;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}


/* CONTACT AND FOOTER STYLING  */


.contact-section {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  color: var(--text-color);
  height:100vh;
  width:100%;
  padding-top: 100px;
}


/* MEDIA QUERIES AND MAIN APP.JS STYLING  */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width:1400px) {
  .headerContainer {
    margin-top: 25px !important;
  }

  header {
    height: 155px;
  }
  
  h2 {
    padding-top: 50px;
  }

  .about-me-text{
    font-size: 25px;
  }

  .project-container {
    width: 600px;
  }

  .Project-desc-p {
    font-size: 12px;
  }

}

@media screen and (max-width: 1000px) {

  .project-col {
    justify-content: space-evenly !important;
  }

  .navbar-nav {
    border-radius: 0px;
    background-color: var(--background-color-skills);
  }

  #basic-navbar-nav {
    padding-right: 7px;
    padding-left: 7px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  

  /* .projects-section {
    height: 2200px;
  } */

  .proj-lower {
    margin-top: 600px;
  }

  .project-container {
    flex-direction: column;
    width:500px !important;
    padding-right: 0px !important;
  }

  .proj-lower {
    margin-top: 50px !important;
  }

  .carousel-img {
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
  }

  .project-content-container {
    /* margin-bottom: 50px !important; */
    display: none;
  }
  
}

@media screen and (max-width:992px) {
  .toggle {
    display:none;
  }
  header {
    height: 60px;
  }

  nav {
    height: 80px;
  }

  span.navbar-text {
    flex-direction: column;
    gap: 10px;
    margin-top:0px;
    /* height:65%; */
    justify-content: space-between;
    /* background-color: var(--background-color-skills); */
  }

  .social-icon {
    /* margin-left: 0px; */
    display: flex;
    flex-direction: row;
    gap:45px;
  }


  .vvd {
    width:99%;
    margin-left: 0px;
  }

  #basic-navbar-nav {
    /* min-width: 100vw; */
    /* height: 600px; */


  }
  
  .about-me-text {
    font-size: 20px;
  }

  .big-bold-text {
    color:#B21E35;
    font-size: 30px;
  
  }

  .about-content-container{
    flex-direction: column;
    margin-top: 30px;
  }

}

@media screen and (max-width:768px) {
  .img-fluid{
    display:none;
  }
  .cityNightcontainer {
    background-image: var(--background-image);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 400px;
    display: none;
  }

  .headerMain {
    height: 300px;
    padding-top: 175px;
    margin-top: 100px;
  }

  .headerContainer {
    background-color: transparent;
    box-shadow: none;
  }

  h2 {
    padding-top: 45px;
  }

}

@media screen and (max-width:675px) {
  .project-container {
    height:300px;
    width:300px !important;
  }

  /* .projects-section {
    height: 1400px;
  } */
  
  .carousel {
    width:300px;
  }
  
  .carousel-img {
    height:300px;
    width:300px;
  }

  .project-content-container {
    width: 300px;
  }

  .toggle-theme {
    margin-left: 20px;
  }

}

@media screen and (max-width:477px) {
    .about-me-text{
      font-size: 17px;
    }

    .about-img {
      height: 200px;
      width:300px;
    }

  }

@media screen and (max-width:455px) {
  .Skills-Page {
    height: 800px;
  }

  .skill-img {
    width:60px;
    height: 60px;
  }
  
  .skill-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

@media screen and (max-width:414px){
  .Skills-Page {
    height:600px;
  }
}

@media screen and (max-width:402px){
  .Skills-Page {
    height:700px;
  }
}

@media screen and (max-width:397px) {
  .skill-img {
    width:45px;
    height: 45px;
    border-radius: 5px;
  }

  .Skills-Page {
    height: 600px;
  }
  
  .skill-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    padding-top: 50px;
  }
  
}

@media screen and (max-width:378px) {
  .Skills-Page {
    height: 600px !important;
  }
  
  .about-me-text {
    font-size: 15px;
  }

}

@media screen and (max-width:356px) {
  .Skills-Page {
    height: 720px !important;
  }
  
}

@media screen and (max-height:800px) {
  .headerMain {
    padding-top: 130px;
  }

  .Skills-Page {
    height: 800px;
  }

  .about-header {
    margin-top: 30px !important;
  }

  .about-me-text {
    font-size: 15px;
  }

 
  .about-img {
    height: 100px;
    width: 200px;
  }
  
}

@media screen and (height:736px) {
  .Skills-Page {
    height: 800px;
  }

  .contact-section {
    height: 800px;
  }
}

@media screen and (max-height:668px) {
  .Skills-Page {
    height: 500px;
  }
}


